@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* color-scheme: light dark; */
}

body {
  background-image: url('./assets/wave-4.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}